

.container {
    width: 35%;
    /* max-width: 400px; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 7%;
}

.form-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button.btn-primary {
    background-color: #0877ee;
    color: white;
}
button.btn-primary:hover{
    background-color: hsl(0, 94%, 66%);
    color: white;
}

button.btn-secondary {
    background-color: green;
    color: white;
}
button.btn-secondary:hover {
    background-color: hsl(0, 94%, 66%);
    color: white;
}

button.btn-google {
    background-color: #db4437;
    color: white;
}

button.btn-google:hover {
    background-color: lightcoral;
    color: white;
}

hr {
    margin: 20px 0;
}

