{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Planner</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  


    <!-- navbar sections starts  -->
  
    <!-- navbar sections starts  -->

   
    <!-- home section stars  -->

    <section class="home" id="home">
        <div class="content">
            <h1>Event Planner</h1>
            <p></p>

            <a href="{% url 'signup' %}" class="home-btn">Sign Up</a>
        </div>


        <div class="image">
            <img src="{% static 'images/illustration-hero.svg' %}" alt="illustration-hero">
        </div>
    </section>

    <!-- home section ends -->

    <!-- features sectin starts  -->

    <section class="features" id="features">
        <div class="heading">
            <h1>Features</h1>
            <p>The AI event planner website offers a comprehensive suite of features designed to enhance the user experience. Users can register and log in securely using email or social media accounts, ensuring personalized and secure access to their planning dashboard. The website allows users to input key event details such as type, location, target audience, budget, and event time. Based on this information, the platform provides data-driven recommendations for venue selection, leveraging machine learning to suggest optimal locations. Users can also book venues directly through the platform.  </p>
        </div>


       

    </section>

    
    <!-- downloads section ends -->



    <!-- footer section starts  -->

   

    <script src="/static/js/main.js"></script>
</body>


</html>
{% endblock %}